*{  margin: 0;
    padding: 0;
    box-sizing: border-box; 

}
body{
    background-color: #fdafe1;
    color: rgb(0, 2, 2);
    /* display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; */
 
}
main{
    margin-right: 20px;
}
h2{
    text-align: center;
    color: rgb(246, 12, 58);
}
a{
    text-decoration: none;
    color: beige;
}
ul li{

    list-style:decimal;
}

.abhi{
    color: blueviolet;
}
#amarjeet:hover{
    color: rgb(14, 238, 14);
}

section {
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: rgb(39, 247, 7);
      font-size: 60%;
    }
    
  }